/* variavel */
:root {
  --cor-principal: #e67e22; 
}

.card-interativo {
  width: 300px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  /* card como referência para a logo */
  position: relative; 
  transition: transform 0.3s;
}

.card-interativo:hover {
  transform: scale(1.03);

}

.card-interativo::before {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: var(--cor-principal); 
  margin-bottom: 15px;
}


.selo-imagem {
  
  position: absolute; 
  top: -15px;         
  right: -15px;      
  
  width: 110px;          
  height: 110px;         
  
  /* 3. Estilo Extra (Opcional, mas recomendado) */
  object-fit: contain;  /* Garante que a imagem não fique esticada ou cortada */
  z-index: 10;          /* Garante que o selo fique "em cima" do card se eles se sobreporem */
}