/* variavel */
:root {
  --cor-principal: #e63f22; 
}

.card-interativo {
  width: 300px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  /* card como referência para a logo */
  position: relative; 
  transition: transform 0.3s;
}

.card-interativo:hover {
  transform: scale(1.03);

}

.card-interativo::before {
  content: "";
  display: block;
  width: 70px;
  height: 6px;
  background-color: var(--cor-principal); 
  margin-bottom: 15px;
}


.selo-imagem {
  
  position: absolute; 
  top: -15px;         
  right: -15px;      
  width: 110px;          
  height: 110px;         
  

}